<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; <a href="https://app-generator.dev/agency/codedthemes/" target="_blank">CodedThemes</a> 
          - Coded by <a href="https://app-generator.dev" target="_blank">App-Generator</a>.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a target="_blank" href="https://app-generator.dev/product/berry-dashboard/django/" target="_blank">Download</a></li>
          <li class="list-inline-item"><a target="_blank" href="https://app-generator.dev/product/berry-dashboard-pro/django/" target="_blank">PRO Version</a></li>
          <li class="list-inline-item"><a target="_blank" href="https://app-generator.dev/support/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
